<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate=~{layout/layout}>
<head>
    <meta charset="UTF-8">
    <title>학생 목록</title>
</head>
<body>
<div layout:fragment="content" class="content">
<h1>학생 목록</h1>
    <table>
        <thead>
            <tr>
                <td>No</td>
                <td>이름</td>
                <td>전화번호</td>
                <td>성별</td>
                <td>주소</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="s, stat : ${students}">
                <td th:text="${s.studentNo}">1</td>
                <td th:text="${s.name}">홍길동</td>
                <td th:text="${s.phone}">010-1111-1111</td>
                <td th:text="${s.gender}">남자</td>
                <td th:text="${s.address}">서울시 강남구</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>